# 1. 目标架构与设备 (NanoPi-R1)
CONFIG_TARGET_sunxi=y
CONFIG_TARGET_sunxi_cortexa7=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_friendlyarm_nanopi-r1=y
CONFIG_TARGET_ROOTFS_PARTSIZE=380

# 2. 基础系统与网络工具 (支持 SSL/Wget/Curl/Opkg)
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget-ssl=y

# 3. LuCI 网页后台与主题
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-theme-argon=y

# 4. 强制开启全局简体中文环境及语言包 (防止 defconfig 自动剔除)
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-opkg-zh-cn=y
CONFIG_PACKAGE_luci-i18n-argon-zh-cn=y

# 5. 磁盘分区与文件系统工具 (Docker / TF 卡存储扩容必需)
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_kmod-fs-ext4=y

# 6. 板载网卡硬件驱动 (NanoPi-R1 双网口与无线驱动)
CONFIG_PACKAGE_kmod-r8169=y
CONFIG_PACKAGE_kmod-rtl8189ftv=y
